/* General */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin top by header height */
  margin-top: 138px;
  /* Margin bottom by footer height */
  margin-bottom: 232px;
}

section {
  padding: 1.5rem 0;
}

@media (max-width: 991px) {
  body {
    margin-top: 53px;
  }
}

@media (max-width: 576px) {
  body {
    margin-top: 51px;
  }
}
