<!--<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">KartinaAngular</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']"
              >Counter</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']"
              >Fetch data</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>-->

<nav id="main-nav" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark text-light">
  <div class="row" style="width:100vw">
    <div class="col-sm-12">
      <header>
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Kartina</a>
        <form id="fullscreen-search" class="d-none d-lg-block">
          <input type="text" class="form-control" placeholder="Rechercher sur Kartina...">
        </form>
        <div class="btn-group ml-auto" role="group">
          <a class="btn btn-dark">
            <i class="fas fa-user"></i>
            <span class="d-none d-lg-inline"> Connexion</span>
          </a>
          <a class="btn btn-dark">
            <i class="far fa-question-circle"></i>
            <span class="d-none d-lg-inline"> Aide</span>
          </a>
          <a class="btn btn-dark">
            <i class="fas fa-shopping-cart"></i>
            <span class="d-none d-lg-inline"> Panier</span>
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>
      </header>
    </div>
    <div class="col-sm-12">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link">Photographies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Nouveautés</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Artistes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Derniers exemplaires</a>
          </li>
        </ul>
        <form id="collapsed-search" class="d-block d-lg-none">
          <input type="text" class="form-control my-3" placeholder="Rechercher sur Kartina...">
        </form>
      </div>
    </div>
  </div>
</nav>
