#main-nav {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#main-nav header {
    display: flex;
    align-items: center;
}
#main-nav .navbar-brand {
    font-family: 'Bitter', serif;
    font-size: 3em;
    text-shadow: 2px 2px 3px #000;
    transition: all 0.1s ease-in-out;
}
#main-nav .navbar-brand:hover {
    transform: scale(1.02);
}
#main-nav .navbar-brand::first-letter {
    color: #66ddaa;
}
#main-nav .right {
    margin: auto 0 auto auto;
    max-height: 40px;
}
#main-nav #fullscreen-search {
    flex-basis: 400px;
}
#main-nav .navbar-toggler {
    margin-left: 10px;
}

@media (max-width: 991px) {
  #main-nav .navbar-brand {
    font-size: 2em !important;
    line-height: 30px;
  }
}
