<footer class="bg-dark text-light pt-3">
    <div class="container-fluid text-center text-md-left py-md-4">
        <div class="row">
            <div class="col-md-6 mt-md-0 my-3">
                <h5 class="text-uppercase">A Propos</h5>
                <p class="text-muted">
                    Nous vous proposons un vaste choix de photographies et d'oeuvres d'art pour décorer votre intérieur.
                </p>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Liens</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">
                            Mentions légales
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Conditions générales
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Réseaux Sociaux</h5>
                <a href="https://www.facebook.com/" target="_blank" class="btn btn-link">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.twitter.com/" target="_blank" class="btn btn-link">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank" class="btn btn-link">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.pinterest.fr/" target="_blank" class="btn btn-link">
                    <i class="fab fa-pinterest"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center text-muted py-3">
        <i class="fas fa-copyright"></i> 2019 Copyright:
        <a asp-area="" asp-controller="Home" asp-action="Index">
            Kartina
        </a>
    </div>
</footer>